EXPO_PUBLIC_SUPABASE_URL=https://rivpybnhtaecykmcurql.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJpdnB5Ym5odGFlY3lrbWN1cnFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4ODkxNTQsImV4cCI6MjA4OTQ2NTE1NH0.Ez-VyGgZ-ARE1xte4cAwJJRk4ZedrceMuAgz2Jxy0Ks
